<h1>Készíttessen mozaikképet fotókból!</h1>

<h2>Alcím</h2>

<p>
   Ajándékozni öröm, de kitalálni, hogy mit adjunk annak, akit legjobban szeretünk, vagy
   épp annak, akinek muszáj, mert tőle függ az előléptetésünk... hát az már nem olyan egyszerű.
   Volt már parfüm (persze nem is tetszett neki az illata), nyakkendő, pénztárca, vicces bigyó,
   szimplán csak egy csokor virág, de most már valami személyes kellene.
</p>

<img src="kepek/baba1.jpg" alt="" />
<img src="kepek/baba2.jpg" alt="" />

<a href="#" class="gomb">szeretnék egy egyedi mozaikkepet!</a><br />

<img src="kepek/par1.jpg" alt="" />
<img src="kepek/par2.jpg" alt="" />

<a href="#" class="gomb">szeretnék egy egyedi mozaikkepet!</a>